.header {
  padding: 20px; /* Add some padding */
}

.header-text {
  padding-left: 5%; /* Optional: add padding to the left */
}

.header-image {
  overflow: hidden; /* Ensure the image doesn’t overflow its container */
}

.header-image img {
  border-radius: 70px 30px 70px 70px; /* Optional: add rounded corners */
  max-width: 40%; /* Optional: make the image responsive */
  padding-top: 30px; /* Add padding at the top */
  transition: transform 0.3s ease; /* Smooth transition for the scale effect */
}

.header-image img:hover {
  transform: scale(1.1); /* Scale the image on hover */
}

.custom-button {
  color: #000; /* Black text color */
  background: #F8F9FA; /* Light background color */
  border: 2px solid #000; /* Black border */
  transition: background 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.custom-button:hover {
  background: #000; /* Dark background on hover */
  color: #fff; /* White text color on hover */
}
